__pycache__/
ChangeMgmt/
Cloud/
DR/
DSS Report/
Email Survey/
Exchange/
Infrastructure/
Text/
util/
SFInvoice/__pycache__/
Headcount/
DTO Services/
Meetings/
Services/
Data/
.sfdx/
.vscode/
ARM Report/
Contracts Report/
Other XLSX/
SFInvoice/

*.xls
*.xlsx
*.sdl
*.csv
*.pdf
*.gif
*.txt
*.docx
*.code-workspace

auth.py